.container {
  box-sizing: border-box;
  display: grid;
  padding: 20px;
  width: 100%;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.container > * {
  padding: 50px 0;
}

.container button {
  vertical-align: top;
  font-family: inherit;
  border: 1px solid white;
  border-radius: 10px;
}
